:root {
    --darkBlue: #202733;
    --darkGrayishBlue: #313A48;
    --grayishBlue: #4F5D74;
    --lightCyan: #CEE3E9;
    --neonGreen: #53FFAA;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
    background: var(--darkBlue);
    margin: 0 auto;
}

